/* body{
    background-color: hsl(217, 54%, 11%);
    font-family:'Outfit', sans-serif;
      
} */

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#group{
   display: grid;
   grid-template-columns: 200px 200px 200px;
   grid-template-rows: auto auto;
   column-gap: 200px;
   row-gap: 10px;
   margin-left: 10%;
}
body{
   background-color: #0d192b;
   font-family: 'Outfit';
}
.header{
   width: 280px;
   height: 490px;
   background-color: #14253d;
   margin-left: 45%;
   margin-top: 20%;
   border-radius: 20px;

}
.image1 img{
   margin-left: 5%;
   margin-top: 7%;  
   border-radius: 10px; 
}
.content{
   margin-left: 5%;
   margin-top: 3%;
}
.content h2{
   color: #fbfeff;
}
.content p{
   color: #869cbc;
}
.headim{
   display: flex;
   justify-content: space-between;
   margin-left: 5%;
   margin-right: 5%;
}
.im .span{
   color: #15d6d4;
}
.im .span1{
   color: #869cbc;
}
.image2{
   display: flex;
   justify-content: flex-start;
   margin-left: 5%;
   align-items: center;
}
hr{
   border-top: none;
   border-left: none;
   border-bottom: 1px solid #2b3d57;
}
.image2 .bo{
   border-radius: 50%;
   border: 2px solid #fff;
}
.image2 .bo1{
   padding-left: 15px;
   color: #5580b3;
}.image2 .bo1 span{
   color: #fffbf2;
}
